@use '../abstracts/variables' as *;
html, body {
  background-color: $background-color;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
  min-height: fit-content;
  scrollbar-width: none; /* Firefox */
  
	[data-aos] {
	overflow-y: hidden;
	}
	.main-content {
	  flex: 1;
	  margin-top: 30px;
	}
}

body::-webkit-scrollbar {
display: none; /* Chrome, Safari, Edge */
}

a {
  color: $primary-color;
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
	color: $link-color;
  }
}
	  .custom-toggler {
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  width: 32px;
	  height: 24px;
	  background: transparent;
	  border: none;
	  cursor: pointer;
	  z-index: 1051;
	  padding: 0;
	}

	.custom-toggler .bar {
	  height: 3px;
	  width: 100%;
	  background-color: #000;
	  border-radius: 3px;
	  transition: 0.3s ease;
	  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	}

	.custom-toggler:hover .bar {
	  background-color: #0d6efd;
	  box-shadow: 0 0 8px rgba(13, 110, 253, 0.6);
	}
