@use '../abstracts/variables' as *;
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  
	.main-content {
	  flex: 1;
	}
}

body {
  background-color: $background-color;
}

a {
  color: $primary-color;
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
	color: $link-color;
  }
}
