<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-analytics.js";
  import { getFirestore, collection, query, where, doc, getDocs, addDoc } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-firestore.js";
  const firebaseConfig = {
    apiKey: "AIzaSyDN2dgu-Sdsc9K5fermxPFwDUiCzX71ce8",
    authDomain: "tokoputridinar.firebaseapp.com",
    projectId: "tokoputridinar",
    storageBucket: "tokoputridinar.firebasestorage.app",
    messagingSenderId: "747234240117",
    appId: "1:747234240117:web:a87af4f6724ab87ad23a3c",
    measurementId: "G-M2JGJH3NVQ"
  };
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
  const db = getFirestore(app);
</script>