<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-analytics.js";
  import { getFirestore, collection, query, where, doc, getDocs, addDoc } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-firestore.js";
  const firebaseConfig = {
    apiKey: "{{site.api_key}}",
    authDomain: "{{site.auth_domain}}",
    projectId: "{{site.project_id}}",
    storageBucket: "{{site.storage_bucket}}",
    messagingSenderId: "{{site.sender_id}}",
    appId: "{{site.app_id}}",
    measurementId: "{{site.measure_id}}"
  };
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
  const db = getFirestore(app);
</script>