$primary: #4f46e5;
$primary-color: #4f46e5;
$secondary-color: #22d3ee;
$background-color: #f8fafc;
$headerScroll: #4f46e5c7;
$text-color: #111827;
$link-color: #0d6efd;
$white: #ffffff;
$spacing-unit: 1rem;

$breakpoint-mobile: 767px;
$breakpoint-tablet: 1023px;
$breakpoint-desktop: 1024px;
