@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.footer {
  background-color: $light;
  color: $dark;

  h5 {
    margin-bottom: 1rem;
    font-weight: bold;
  }

  p {
    font-size: 0.9rem;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 0.5rem;

      a {
        color: $dark;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: darken($primary, 10%);
        }
      }
    }
  }

  .input-group {
    input {
      border-right: none;
    }
    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .social-icons {
    margin-top: 1rem;

    a {
      font-size: 1.2rem;
      transition: color 0.3s ease;

      &:hover {
        color: $primary;
      }
    }
  }

  .border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

