@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
  .navbar-brand {
    font-size: 1.5rem;
  }

  .nav-link {
    margin: 0 0.5rem;
    font-weight: 500;
    color: $dark;

    &:hover, &.active {
      color: $primary;
    }
  }

  .btn-outline-primary {
    position: relative;
    i {
      font-size: 1.5rem;
    }
  }

  .badge {
    font-size: 0.6rem;
  }
  div.absolutemee {
  @include mobile {
    position: absolute !important;
    top: 65px;
    right: 12px;}
	}
}

.offcanvas {
  width: 320px;

  .cart-item {
    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
    }

    h6 {
      font-size: 1rem;
      margin: 0;
    }

    small {
      font-size: 0.85rem;
    }
  }

  hr {
    margin: 1rem 0;
  }
}
