<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'ID-id' }}">
{% include head.html %}
<body>
{% include header.html %}
{% if page.url == '/' %}
{% include hero.html %}
{% endif %}
<div id="main" role="main" class="container">
{{ content }}
</div>
{% include edit-modal.html %}
{% include toast.html %}
{% include footer.html %}
{% include analytics.html %}
<script src="{{ '/assets/frameworks/bootstrap/dist/js/bootstrap.bundle.min.js' | relative_url }}"></script>
</body>
</html>
