---
xendit_options: live
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'ID-id' }}">
{% include head.html %}
<body>
{% include header.html %}
{% if page.url == '/' %}
{% include hero.html %}
{% endif %}
<div id="main" role="main" class="main-content">
{{ content }}
</div>
{% include profile-modal.html %}
{% include toast.html %}
{% include bootAlert.html %}
{% include footer.html %}
{% include analytics.html %}
<script src="{{ '/assets/frameworks/bootstrap/dist/js/bootstrap.bundle.min.js' | relative_url }}"></script>
<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>
